.bg-lightgray{
  background: $lite-3;
}

.bg-white{
  background: $white;
}

.bg-alt{
  background: $midBlue;
}

.bg-blue{
  background: $primaryBlue;
}

.bg-green{
  background: $smeGreen;
}
.bg-darkgreen{
  background: $smeDarkGreen;
}

.bg-lightestgray{
  background-color: $lightestGray;
}