// Margin Classes

.m{
  margin: $spacer-5;
}

.m-t{
  margin-top: $spacer-5;
}

.m-b{
  margin-bottom: $spacer-5;
}

.m-l{
  margin-left: $spacer-5;
}

.m-r{
  margin-right: $spacer-5;
}

// Margin xs

.m-xs{
  margin: $spacer-10;
}

.m-t--xs{
  margin-top: $spacer-10;
}

.m-b--xs{
  margin-bottom: $spacer-10;
}

.m-l--xs{
  margin-left: $spacer-10;
}

.m-r--xs{
  margin-right: $spacer-10;
}

// Margin sm

.m-sm{
  margin: $spacer-15;
}

.m-t--sm{
  margin-top: $spacer-15;
}

.m-b--sm{
  margin-bottom: $spacer-15;
}

.m-l--sm{
  margin-left: $spacer-15;
}

.m-r--sm{
  margin-right: $spacer-15;
}

// Margin md

.m-md{
  margin: $spacer-20;
}

.m-t--md{
  margin-top: $spacer-20;
}

.m-b--md{
  margin-bottom: $spacer-20;
}

.m-l--md{
  margin-left: $spacer-20;
}

.m-r--md{
  margin-right: $spacer-20;
}

// Margin lg

.m-lg{
  margin: $spacer-30;
}

.m-t--lg{
  margin-top: $spacer-30;
}

.m-b--lg{
  margin-bottom: $spacer-30;
}

.m-l--lg{
  margin-left: $spacer-30;
}

.m-r--lg{
  margin-right: $spacer-30;
}

// Margin xl

.m-xl{
  margin: $spacer-45;
}

.m-t--xl{
  margin-top: $spacer-45;
}

.m-b--xl{
  margin-bottom: $spacer-45;
}

.m-l--xl{
  margin-left: $spacer-45;
}

.m-r--xl{
  margin-right: $spacer-45;
}

// Margin xxl

.m-xxl{
  margin: $spacer-60;
}

.m-t--xxl{
  margin-top: $spacer-60;
}

.m-b--xxl{
  margin-bottom: $spacer-60;
}

.m-l--xxl{
  margin-left: $spacer-60;
}

.m-r--xxl{
  margin-right: $spacer-60;
}