// Padding Classes

.p{
  padding: $spacer-5;
}

.p-x{
  padding-left: $spacer-5;
  padding-right: $spacer-5;
}

.p-y{
  padding-top: $spacer-5;
  padding-bottom: $spacer-5;
}

.p-t{
  padding-top: $spacer-5;
}

.p-b{
  padding-bottom: $spacer-5;
}

.p-l{
  padding-left: $spacer-5;
}

.p-r{
  padding-right: $spacer-5;
}

// Padding xs

.p-xs{
  padding: $spacer-10;
}

.p-x--xs{
  padding-left: $spacer-10;
  padding-right: $spacer-10;
}

.p-y--xs{
  padding-top: $spacer-10;
  padding-bottom: $spacer-10;
}

.p-t--xs{
  padding-top: $spacer-10;
}

.p-b--xs{
  padding-bottom: $spacer-10;
}

.p-l--xs{
  padding-left: $spacer-10;
}

.p-r--xs{
  padding-right: $spacer-10;
}

// Padding sm

.p-sm{
  padding: $spacer-15;
}

.p-x--sm{
  padding-left: $spacer-15;
  padding-right: $spacer-15;
}

.p-y--sm{
  padding-top: $spacer-15;
  padding-bottom: $spacer-15;
}

.p-t--sm{
  padding-top: $spacer-15;
}

.p-b--sm{
  padding-bottom: $spacer-15;
}

.p-l--sm{
  padding-left: $spacer-15;
}

.p-r--sm{
  padding-right: $spacer-15;
}

// Padding md

.p-md{
  padding: $spacer-20;
}

.p-x--md{
  padding-left: $spacer-20;
  padding-right: $spacer-20;
}

.p-y--md{
  padding-top: $spacer-20;
  padding-bottom: $spacer-20;
}

.p-t--md{
  padding-top: $spacer-20;
}

.p-b--md{
  padding-bottom: $spacer-20;
}

.p-l--md{
  padding-left: $spacer-20;
}

.p-r--md{
  padding-right: $spacer-20;
}

// Padding lg

.p-lg{
  padding: $spacer-30;
}

.p-x--lg{
  padding-left: $spacer-30;
  padding-right: $spacer-30;
}

.p-y--lg{
  padding-top: $spacer-30;
  padding-bottom: $spacer-30;
}

.p-t--lg{
  padding-top: $spacer-30;
}

.p-b--lg{
  padding-bottom: $spacer-30;
}

.p-l--lg{
  padding-left: $spacer-30;
}

.p-r--lg{
  padding-right: $spacer-30;
}

// Padding xl

.p-xl{
  padding: $spacer-45;
}

.p-x--xl{
  padding-left: $spacer-45;
  padding-right: $spacer-45;
}

.p-y--xl{
  padding-top: $spacer-45;
  padding-bottom: $spacer-45;
}

.p-t--xl{
  padding-top: $spacer-45;
}

.p-b--xl{
  padding-bottom: $spacer-45;
}

.p-l--xl{
  padding-left: $spacer-45;
}

.p-r--xl{
  padding-right: $spacer-45;
}

// Padding xxl

.p-xxl{
  padding: $spacer-60;
}

.p-x--xxl{
  padding-left: $spacer-60;
  padding-right: $spacer-60;
}

.p-y--xxl{
  padding-top: $spacer-60;
  padding-bottom: $spacer-60;
}

.p-t--xxl{
  padding-top: $spacer-60;
}

.p-b--xxl{
  padding-bottom: $spacer-60;
}

.p-l--xxl{
  padding-left: $spacer-60;
}

.p-r--xxl{
  padding-right: $spacer-60;
}
