.am-select {
  //background: $light-gray;
  border-radius: 4px;
  border: 2px solid #EEF2F5;

  h3 {
    margin: 0px;
    background: $light-gray;
    border-radius: 2px 2px 0 0;
    padding: 9px 12px;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    //text-transform: uppercase;
    color: $main-hover-color !important;
    border-bottom: 1px solid $gray;
  }
  p {
    padding: 9px 12px;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid $gray;
  }
  ul {
    margin: -1px 0px 0px 0px;
    padding: 0px 0px 0px 12px;
    list-style-type: none;
  }
  ul ul {
    padding-left: 20px;
  }
  ul li {
    padding: 10px 0px 10px 5px;
    font-size: 12px;
    font-weight: 300;
    color: $dark-blue;
  }
  ul li .caret {
    float: right;
    margin: 8px 10px 0px 0px;
  }
  ul li input {
    margin-right: 10px;
  }
  .bordered {
    border-top: 1px solid $gray;
  }
}