.nav-tabs{
  border-bottom: none;
  margin-bottom: 30px;

  li{
    color: $dark-blue;
    text-transform: uppercase;

    a{
      border: none;

      &:hover, &:focus {
        background: transparent;
        border: none;
        color: $navy;

      }
    }

    &.active{
      border: none;
      border-bottom: 4px solid $navy;
      a{
        color: $navy;
        border: none;

        &:hover, &:focus{
          border: none;
          color: $navy;
        }
      }
    }
  }
}