.am-select-top{
  margin-top: 23px;
}

.icon-pad{
  margin-left: 10px;
}

.border-lf{
  border-left: 1px solid #ECEFF1;
}

.borer-rt{
  border-right: 1px solid #ECEFF1;
}


.font-blue{
  color:$dark-blue;
}