// Basic Colors
$navy: #0061AA;       // Primary color
$dark-gray: #c2c2c2;  // Default color
$blue: #1c84c6;       // Success color
$lazur: #23c6c8;      // Info color
$yellow: #f8ac59;     // Warrning color
$red: #CD1041;        // Danger color
$red-alt: #bd1234;        // Danger color
$black: #000000;
$white: #FFFFFF;


// Various colors
$text-color: #676a6c;   // Body text
$main-hover-color: #4C5667;   // Icon Hover
$highlight-color: #E7F4F9; // Highlight Color
$gray: #CFD8DC;         // Background wrapper color
$light-gray: #F9FAFB;   // Default label, badget
$active-alt: #D1D8DC;
$label-badget-color: #5E5E5E;
$light-blue:#f3f6fb;
$mid-blue:#B0BEC5;
$dark-blue: #99A5AE;
$eggshell: #f9f9f9;
$bright-white: #EBEEF0;
$analytics: #69f0ae;

// Avatar colors
$avatarGrey: $text-color;
$avatarBlue: $blue;
$avatarRed: $red;
$avatarYellow: $yellow;
$avatarLazur: $lazur;
$avatarGreen: #0AD36C;
$avatarPurple: #4513D3;



// Btn Colors
$btn: $navy;
$btn-disable: #D5D9DB;
$btn-disable-hover: $dark-blue;

  // Spiner color and margin
$spin-color: $navy;
$spin-margin: 0 auto;


// IBOX colors ( default panel colors)
$border-color: #e7eaec;     // IBox border
$ibox-title-bg:#ffffff;     // IBox Background header
$ibox-content-bg:#ffffff;   // IBox Background content

//Sidebar width
$sidebar-width: 220px;

// Boxed layout width
$boxed-width: 1200px;

//Border radius for buttons
$btn-border-radius: 3px;

//Navigation
$nav-bg: #263238;
$nav-text-color: #99A5AE;

// Font Size
$font-xs: 11px;

