.sidebar{
  background: $sidebarColor;
  margin-top: 90px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;

  @media (max-width: 768px) {
    display: none !important;

  }
}