.pad{
  padding: 135px 0;

  @media (max-width: 768px) {
    padding: 60px 0;
  }
}

.pad-sm{
  padding: 30px 0;
}

.pad-xs{
  padding: 15px;
}

.pad-top-lg{
  padding-top: 60px;
}

.pad-top{
  padding-top: 30px;
}

.pad-top-sm{
  padding-top: 15px;
}

.pad-btm{
  padding-bottom: 30px;
}

.pad-btm-sm{
  padding-bottom: 15px;
}

.pad-btm-xs{
  padding-bottom: 8px;
}

.no-pad{
  padding: 0;
}

.img-responsive-mobile{
  margin-bottom: 30px;
}

.margin-top-20{
  margin-top:20px; }

.content-pad{
  margin-top: 119px;
}

.action-row{
  padding: 15px 0;
}


//display
$displayTypes: inline, inline-block, block;
.display-{
  @each $displayType in $displayTypes {
    &#{$displayType}{
      display: $displayType
    }
  }
}