// Colors
$white:                 #FFFFFF;
$primaryBlue:           #2196F3;
$darkBlue:              #1E88E5;
$midBlue:               #004A7D;
$darkerBlue:            #004270;
$green:                 #00ab50;
$yellow:                #FFBB50;
$red:                   #FF6562;

$tableStriped:          #F8FCFF;
$lightGray:             #ECEFF1;
$gray:                  #CFD8DC;
$disabled:              #eaeeef;
$darkGray:              #77909C;
$grayHover:             #B0BEC5;
$darkerGray:            #253137;

$sidebarColor:          #263238;

// Font Colors
$fontColor:             $darkGray;
$headers:              $darkerBlue;

// Font Families
$f-family: 'Source Sans Pro', sans-serif;
$f-familyAlt: 'Montserrat', sans-serif;

// Font Weights
$f-weight-italic: 400i;
$f-weight-med: 600;
$f-weight-bold: 700;

// Font Sizes
$f-size: 16px;
$f-size-xs: 10px;
$f-size-sm: 12px;
$f-size-md: 14px;
$f-size-lg: 18px;
$f-size-ph: 24px;
$f-size-xl: 36px;
$f-size-h1: 60px;

//Border radius for buttons
$btn-border-radius: 4px;

//Sidebar width
$sidebar-width: 220px;


