// Base Color
$base-color: #00AB50;

// Layout Colors
$dark: #33423A;
$dark-1: #5D7066;
$dark-2: #7D8C84;
$dark-3: #96A29C;
$lite: #BDC5C1;
$lite-1: #DDE1DF;
$lite-2: #EBEDEC;
$lite-3: #F8F9F9;
$white: #FFFFFF;
$black: #000000;

// Core Colors

$blue: #005BAB;
$purple: #5000AB;
$red: #AB0006;
$yellow: #F1C40F;